*{
  margin: 0;
  padding: 0;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(253, 230, 230);
  padding: 0px 20px;
  border-radius: 8px;
}
.logo-link{
  text-decoration: none;
  color: rgb(255, 110, 110);
  font-weight: bold;
}
.nav-items{
  display: flex;
  text-decoration: none;
  background-color: rgb(253, 230, 230);
  justify-content: center;
}
ul>li{
  list-style: none;
  padding: 15px 0px;
  border-radius: ;
}
ul>li>a{
  text-decoration: none;
  color: black;
  padding: 15px 15px;
}
ul>li>a:hover{
  background-color: rgb(255, 148, 148);
  border-radius: 5px;
}
.active{
  background-color: rgb(255, 148, 148);
  border-radius: 5px;
}